.about-section {
    display: flex;
    justify-content: center;
}

.about-content {
    width: 80%;
}

.about-content h3 {
    text-align: center;
    padding-bottom: 5%;
    font-size: 4vh;
    font-weight: 300;
}