.work-container {
    display: flex;
    justify-content: center;
}

.project-container {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    width: 80%;
}

.project {
    align-items: center;
    border-radius: 3px;
    margin: 8% 10%;
    height: 30vh;
    background-color: #fff;
    transition: 0.8s;
}

.project:hover {
    background: #A8C686;
    background: #E4572E;
    cursor: pointer;
}

@media (max-width: 700px) {
    .project-container {
        grid-template-columns: 6fr 6fr;
    }
}

@media (max-width: 500px) {
    .project-container {
        grid-template-columns: 12fr;
    }
}