.work-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 5% 0;
}


.title-container {
    margin-bottom: 2%;
}


.border-two {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-top: 1px solid #000;
}

.title-container h1 {
    color: #000;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 2% 0;
    padding-bottom: 3%;
}

.project-container {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    width: 80%;
}

.project:hover {
    background-color: #E4572E;
}

.project-container a {
    text-decoration: none;
    color: #fff;
}

.project {
    border-radius: 3px;
    margin: 8% 10%;
    height: 70vh;
    background-color: #000;
    transition: 0.8s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .project:hover {
    background: #E4572E;
    cursor: pointer;
    color: #000;
} */

/* .project h3 {
    margin: 8% 0;
    font-size: 3.5vh;
    font-weight: 250;
    width: 70%;
} */

/* .project h5 {
    margin: 0;
    font-size: 2.5vh;
    width: 70%;
    font-weight: 300;
    line-height: 25px;
} */

.icons {
    text-align: center;
    margin-top: auto;
    margin-bottom: 20%;
    width: 100%;
}

.fa-react, .fa-js, .fa-css3-alt, .fa-html5, .fa-bootstrap, .fa-chart-pie, .fa-node-js, .fa-angular {
    padding: 3%;
    font-size: 5vh;
}

.highlights-container {
    padding: 3%;
}
.highlights-container:hover {
    display: none;
}
.highlights-container p{
    font-size: 2vh;
    font-weight: 200;
}

@media (max-width: 375px) {
    .project {
        height: 85vh;
    }
}

@media (max-width: 800px) {
    .project-container {
        grid-template-columns: 6fr 6fr;
    }
}

@media (max-width: 500px) {
    .project-container {
        grid-template-columns: 12fr;
    }
}

@media (min-width: 1440px) {
    .project h5 {
        line-height: 40px;
    }
}